.card {
    background-color: #8be2fc;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.cardImage {
    margin-right: 1rem;
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody span {
    margin-right: 1rem;
}

@media (min-width: 1024px) {
    .card {
        width: 400px;
    }
}