html {
  background-color: #e4e7ed;
  color: #282c34;
}

body {
  margin: 1rem;
}

.App {
  text-align: center;
}

.App button {
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
}