html {
    background-color: #1c1f2a;
    color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 1rem;
    max-width: 1200px;
}

.App {
    text-align: center;
}

.App h1 {
    color: #fff;
}

.controls-select label {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.controls-select select {
    background-color: #282c34;
    border: 1px solid #282c34;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}

.controls-input input {
    background-color: #282c34;
    border: 1px solid #282c34;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.pagination button {
    background-color: #282c34;
    border: 1px solid #282c34;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    width: 100%;
}

.pagination button:first-child {
    margin-right: 1rem;
}
